<div class="page_detail">
  <h1><%= @meal.day %> <%= @meal.meal %></h1>

    <h2> <%= @meal.meal_name %><br> </h2>
      <p>
        <%= @meal.description %>
      </p>

      <% groups = @meal.food_group_count %>

      <% if groups == 0 %>
        <p>You don't have any food groups yet. Add ingredients below to make a complete meal.</p>
      <% elsif groups == 1 %>
        <p>Your meal has only one food group. Add more ingredients below to make a complete meal.</p>
      <% elsif groups == 2 %>
        <p>Your meal has only two food groups. Add more ingredients below to make a complete meal.</p>
      <% elsif groups == 3 || groups == 4 %>
        <p>Nice job! Your meal has <%= groups %> food groups.</p>
      <% elsif groups == 5 %>
        <p>Wow! You have all five food groups in this meal.  </p>
      <% end %>

      <% if groups < 5 %>
        <p>
          Try adding <%= @meal.needed_food_groups.to_sentence(:last_word_connector => ' or ') %> to make a more complete meal.
        </p>
      <% end %>




    <div class="plate">
      <%= image_tag("fruits.jpg", :class => "top_left " + @meal.needed("Fruits") )%>
      <%= image_tag("grains.jpg", :class => "top_right " + @meal.needed("Grains")) %>
      <%= image_tag("dairy.jpg", :class => "outside_top " + @meal.needed("Dairy"))  %>
      <%= image_tag("vegetables.jpg", :class => "bottom_left " + @meal.needed("Vegetables")) %>
      <%= image_tag("protein.jpg", :class => "bottom_right " + @meal.needed("Protein")) %>
    </div>



  </p>

  <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit Meal'.html_safe, edit_meal_path(params[:meal_id]), class: :button %>
  <%= link_to '<i class="fa fa-trash-o"></i> Delete Meal'.html_safe, meal_path(params[:meal_id]), method: :delete, class: :button, data: { confirm: "Are you sure?" } %>

  <h3>Ingredients</h3>

  <ul>
    <% @ingredients.each do |i| %>
    <li>
      <%= i.ingredient_name.capitalize + " - " + i.food_group %>
      <%= link_to '<i class="fa fa-pencil-square-o pencil_icon"></i>'.html_safe, edit_meal_ingredient_path(params[:meal_id], i.id) %>
      <%= link_to '<i class="fa fa-trash-o trash_icon"></i>'.html_safe, meal_ingredient_path(params[:meal_id], i.id), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
    <% end %>

  </ul>

  <%= render partial: 'ingredientform',
  locals:{ ingredient: @ingredient, action: :create, meal_id: params[:meal_id], title: "Add an Ingredient"}%>
  </div>


</div>
