<fieldset>
  <%= form_for meal, url:{action: action } do |f| %>
  <legend><h1><%= title + " for #{day} #{meal_type}"%></h1>  </legend>
    <!-- <%= f.label :day %>
    <%= f.select(:day, Meal::DAYS, {include_blank: false}) %>
    <%= f.label :meal %>
    <%= f.select(:meal, Meal::MEALS, {include_blank: false}) %> -->
    <%= f.label :meal_name %><br>
    <%= f.text_field :meal_name %> <br><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br><br>
    <%= f.hidden_field :day, :value => "#{day}" %>
    <%= f.hidden_field :meal, :value => "#{meal_type}" %>
    <%= f.submit %>

  <% end %>

</fieldset>
