<h1>Welcome to MyPlate Meal Planner</h1>

<br>

<% @meals.each do |meal| %>
<%= link_to meal.day + " " + meal.meal, meal_path(meal) %>
<%= "-" + " " + meal.meal_name %>
<br>
<% end %>

<table>
  <thead>
    <tr>
      <td></td>
      <% Meal::DAYS.each do |day| %>
      <th>
        <%= day %>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% Meal::MEALS.each do |meal| %>
      <tr>
      <th>
        <%= meal %>
      </th>
        <% Meal::DAYS.each do |day| %>
        <td>
          <%= link_to "Add a Meal", "/meals/new/?day=#{day}&meal=#{meal}" %>
        </td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>
