<h1>Welcome to MyPlate Meal Planner</h1>

<div class="center">
  <%= image_tag("myplate.jpg") %>
</div>


<table>
  <thead>
    <tr>
      <td></td>
      <% Meal::DAYS.each do |day| %>
      <th>
        <%= day %>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% Meal::MEALS.each do |meal| %>
      <tr>
      <th>
        <%= meal %>
      </th>
        <% Meal::DAYS.each do |day| %>
          <% day_meal = Meal.where("meal = ? AND day = ?", meal, day ) %>
        </div>
        <td>
          <% if day_meal == [] %>
            <% table_class = "add_" + meal.downcase %>
            <div class="week <%= table_class %>">
              <%= link_to "Add #{meal}", "/meals/new/?day=#{day}&meal_type=#{meal}" %>
            </div>
          <% else %>
            <% day_meal.each do |m| %>
            <div class="week <%= m.meal.downcase %>">
              <%= link_to m.meal_name , meal_ingredients_path(m) %>
            </div>
            <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>
