<div class="page_detail">
  <h1><%= @meal.day %> <%= @meal.meal %></h1>

    <h2> <%= @meal.meal_name %><br> </h2>
    <% if @meal.description != nil %>
      <p>
        <%= @meal.description %>
      </p>
    <% end %>
    Food Groups:

    <div class="plate">
      <%= image_tag("fruits.jpg", :class => "top_left " + @meal.needed("Fruits") )%>
      <%= image_tag("grains.jpg", :class => "top_right " + @meal.needed("Grains")) %>
      <%= image_tag("dairy.jpg", :class => "outside_top " + @meal.needed("Dairy"))  %>
      <%= image_tag("vegetables.jpg", :class => "bottom_left " + @meal.needed("Vegetables")) %>
      <%= image_tag("protein.jpg", :class => "bottom_right " + @meal.needed("Protein")) %>
    </div>

    Number of Food Groups: <%= @meal.food_group_count %>

  </p>

  <%= link_to "edit", edit_meal_path(params[:id]) %>
  <%= link_to "delete", meal_path(params[:id]), method: :delete %>

  <h3>Ingredients</h3>

  <ul>
    <% @ingredients.each do |i| %>
    <li>
      <%= i.ingredient_name + " - " + i.food_group %>
      <%= link_to "edit", edit_meal_ingredient_path(params[:id], i.id) %>
      <%= link_to "delete", meal_ingredient_path(params[:id], i.id), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
    <% end %>

  </ul>

  <%= link_to "Add Ingredient", new_meal_ingredient_path(params[:id]) %>
  <%= link_to "home", meals_path %>

</div>
