<h1><%= @meal.day %> <%= @meal.meal %></h1>

<p>
  Meal Name: <%= @meal.meal_name %><br>
  Meal Description: <%= @meal.description %><br>
  Food Groups:
  <% Meal.food_groups(@meal).each do |group| %>
  <%= group %>
  <% end %><br>
  Number of Food Groups: <%= Meal.food_group_count(@meal) %>

</p>

<%= link_to "edit", edit_meal_path(params[:id]) %>
<%= link_to "delete", meal_path(params[:id]), method: :delete %>

<h3>Ingredients</h3>

<ul>
  <% @ingredients.each do |i| %>
  <li>
    <%= i.ingredient_name + " - " + i.food_group %>
    <%= link_to "edit", edit_meal_ingredient_path(params[:id], i.id) %>
    <%= link_to "delete", meal_ingredient_path(params[:id], i.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>

</ul>

<%= link_to "Add Ingredient", new_meal_ingredient_path(params[:id]) %>






<%= link_to "home", meals_path %>
